<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
    <body>
        {{> header}}
        <p>We're currently doing some changes.</p>
        <p>Page will be available soon :)</p>
        {{> footer}}
    </body>
</html>